body {
    font-family: 微軟正黑體;
    font-weight: bold;
}
.div-border {
    border: 1px black solid;
}
.IndexImage {
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.BottomIndexImage {
    height: 50px;
    text-align: center;
}
.div-center {
    text-align: center;
}
.div-left {
    text-align: left;
}
.div-right {
    text-align: right;
}

.div-cal-title {
    text-align: center;
    color:mediumblue;
    font-size:x-large;
}
.div-cal-main-title {
    font-weight: bolder;
    text-align: center;
    color: royalblue;
    font-size: xx-large;
}
.IndexImage {
    height: 130px;
    text-align:center;
    transform: scale(1,1);
    transition: all 0.5s ease-out;
}
        .IndexImage:hover {
            transform: scale(1.05,1.05);
        }
.led-light {
    width:20px;
    height:20px;
}
