body {
    font-family: 微軟正黑體;
    font-weight: bold;
    font-size: 20px;
}
.IndexImage {
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}
.content-text {
    font-size:20px;
}
.div-card {
    background-color: #E9E6E6 ;
    margin-bottom: 10px;
    border-radius: 10px;
}
.reserve-table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
}
.reserve-td-column-week {
    border-width: 1pt 1pt 3pt;
    border-style: solid;
    border-color: white;
    background: rgb(68, 114, 196);
    text-align: center;
    vertical-align: middle;
    padding: 3.6pt 7.2pt;
    color: windowtext;
    font-size: 18pt;
    font-family: Arial;
    border-image: initial;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.BottomIndexImage {
    height: 50px;
    text-align: center;
}
.div-center {
    text-align: center;
}
.div-left {
    text-align: left;
}
.div-right {
    text-align: right;
}

.div-cal-title {
    text-align: center;
    color:mediumblue;
    font-size:x-large;
}
.div-cal-main-title {
    font-weight: bolder;
    text-align: center;
    color: royalblue;
    font-size: xx-large;
}
.IndexImage {
    height: 130px;
    text-align:center;
    transform: scale(1,1);
    transition: all 0.5s ease-out;
}
        .IndexImage:hover {
            transform: scale(1.05,1.05);
        }
.led-light {
    width:20px;
    height:20px;
}

.ui-jqgrid,
.ui-jqgrid .ui-jqgrid-view,
.ui-jqgrid .ui-jqgrid-pager,
.ui-jqgrid .ui-pg-input {
    font-size: 20px;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    height: 35px;
    overflow: hidden;
    padding-right: 4px;
    padding-top: 2px;
    position: relative;
    vertical-align: text-top;
    white-space: normal !important;
}