body {
    font-size: 14px;
    font-family: 微軟正黑體;
    font-weight: bold;
}
.IndexImage {
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}
.reserve-table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
}
.reserve-td-column-week {
    border-width: 1pt 1pt 3pt;
    border-style: solid;
    border-color: white;
    background: rgb(68, 114, 196);
    text-align: center;
    vertical-align: middle;
    padding: 3.6pt 7.2pt;
    color: windowtext;
    font-size: 18pt;
    font-family: Arial;
    border-image: initial;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.BottomIndexImage {
    height: 50px;
    text-align: center;
}
.div-center {
    text-align: center;
}
.div-left {
    text-align: left;
}

.div-cal-title {
    text-align: center;
    color:mediumblue;
    font-size:x-large;
}
.div-cal-main-title {
    font-weight: bolder;
    text-align: center;
    color: royalblue;
    font-size: xx-large;
}
.IndexImage {
    height: 130px;
    text-align:center;
    transform: scale(1,1);
    transition: all 0.5s ease-out;
}
        .IndexImage:hover {
            transform: scale(1.05,1.05);
        }
.led-light {
    width:20px;
    height:20px;
}