<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ProjectGuid>ecc0684d-1143-419d-82ba-2cc08340bfe7</ProjectGuid>
    <SelfContained>true</SelfContained>
    <publishUrl>D:\middleware</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <PublishSingleFile>False</PublishSingleFile>
    <PublishTrimmed>False</PublishTrimmed>
    <PublishReadyToRun>False</PublishReadyToRun>
  </PropertyGroup>
</Project>